{% extends 'contact.html' %}
{% load static %}
{% block body %}

<section class="bg-light py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-black">
                <h2 class="fw-bold" style="font-family: serif; color: #031429;">About Us</h2>
                <p style="text-align: left; font-family: serif;">
                    PRIDRIAN Luxe is your ultimate destination for luxury, sophistication, and timeless fashion. We specialize in curating a stunning collection of premium designer bags that blend elegance with practicality. At PRIDRIAN Luxe, we believe in empowering individuals to express their unique style with iconic pieces that exude quality, craftsmanship, and exclusivity.
                </p>
                <p style="text-align: left; font-family: serif;">
                    Our mission is to bring luxury closer to you, offering a seamless shopping experience with a handpicked selection of the world’s most coveted brands. Whether you're looking for a statement bag for special occasions or an everyday essential, PRIDRIAN Luxe is here to elevate your style with unparalleled grace.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'assets/img/aboutus.png' %}" class="img-fluid" alt="About Us">
            </div>
        </div>
    </div>
</section>

<hr style="width: 80%;" class="mx-auto">

<!-- Start Our Services Section -->
<section class="container py-5">
    <div class="row text-center pt-5">
        <div class="col-lg-6 m-auto">
            <h2 class="h2 mb-5 fw-bold" style="font-family: serif; color: #031429;">Our Services</h2>
        </div>
    </div>
    <div class="row mx-auto" style="justify-content: center;">
        <!-- Delivery Services -->
        <div class="col-md-4 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow rounded">
                <div class="h2 text-black text-center">
                    <i class="fa fa-truck fa-lg"></i>
                </div>
                <h2 class="h5 mt-4 text-center" style="font-family: serif;">Delivery Services</h2>
            </div>
        </div>
        <!-- Shipping & Return -->
        <div class="col-md-4 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow rounded">
                <div class="h2 text-black text-center">
                    <i class="fas fa-exchange-alt"></i>
                </div>
                <h2 class="h5 mt-4 text-center" style="font-family: serif;">Shipping & Return</h2>
            </div>
        </div>
        <!-- 24 Hours Service -->
        <div class="col-md-4 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow rounded">
                <div class="h2 text-black text-center">
                    <i class="fa fa-user"></i>
                </div>
                <h2 class="h5 mt-4 text-center" style="font-family: serif;">24 Hours Service</h2>
            </div>
        </div>
    </div>
</section>
<!-- End Our Services Section -->

<hr style="width: 80%;" class="mx-auto">

<!-- Start Brands Section -->
<section class="bg-light py-5">
    <div class="container my-2">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h2 class="h2 fw-bold" style="font-family: serif; color: #031429;">Bag Brands</h2>
                <p class="mt-3" style="font-family: serif;">
                    All product names, logos, and brands are the property of their respective owners. All company, product, and service names used in this website are for identification purposes only. Use of these names, logos, and brands does not imply endorsement. PRIDRIAN Luxe only sells authentic products from established designers and brands. All imagery is either original or used with permission where applicable.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row align-items-center">
                    <!-- Controls -->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!-- Carousel Wrapper -->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2" id="templatemo-slide-brand" data-bs-ride="carousel">
                            <!-- Slides -->
                            <div class="carousel-inner product-links-wap" role="listbox">
                                <!-- First Slide -->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/chanel_logo.png' %}" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/hermes.gif' %}" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/dior.png' %}" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/louisvuitton.gif' %}" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End First Slide -->

                                <!-- Second Slide -->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/chloe.jpg' %}" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/gucci.gif' %}" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/celine.gif' %}" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/prada.png' %}" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Second Slide -->

                                <!-- Third Slide -->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/fendi.gif' %}" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/balenciaga.gif' %}" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/saintlaurent.png' %}" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/bottegaveneta.gif' %}" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Third Slide -->
                            </div>
                            <!-- End Slides -->
                        </div>
                    </div>
                    <!-- End Carousel Wrapper -->

                    <!-- Controls -->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!-- End Controls -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Brands Section -->

{% endblock %}
