<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>PRIDRIAN Luxe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/icons8-bag-16.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
</head>
<body>
    <div class="signup-container">
        <form method="POST">
            {% csrf_token %}
            <h1>Welcome to PRIDRIAN luxe</h1>
            <h2>Sign Up</h2>

            {{ form.non_field_errors }}
        
            <div class="row">
                <div class="input-group form-group ">
                    <label for="first-name" style="margin-left: 10px">First Name *</label>
                                    {{ form.first_name }}
                    {% for error in form.first_name.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                    <input type="text" id="first-name" name="firstname" required style="margin-left: 10px;width: 80%">
                </div>
                <div class="input-group form-group ">
                    <label for="last-name" style="margin-left: 10px">Last Name *</label>
                                    {{ form.last_name }}
                    {% for error in form.last_name.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                    <input type="text" id="last-name" name="lastname" required style="width: 80%">
                </div>
            </div>
            <div class="input-group form-group ">
                <label for="email" style="margin-left: 10px">Email *</label>
                                {{ form.email }}
                    {% for error in form.email.errors %}    
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group form-group ">
                <label for="password" style="margin-left: 10px">Password *</label>
                                {{ form.password }}
                    {% for error in form.password.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                <input type="password" id="password" name="password" required>
            </div>

            <div class="input-group checkbox">
                <input type="checkbox" id="terms" name="terms" required>
                <label for="terms" style="margin-top: 18px">Accept <a href="#">Terms and Conditions</a></label>
            </div>
            <div class="input-group">
                <button type="submit">SIGN UP</button>
            </div>
       
        <!-- Divider for OR -->
        <div class="divider">
            <span>or</span>
        </div>

        <!-- Google Sign Up Button -->
        <div class="google-signup">
            <button class="google-btn">
                <img src="{% static 'assets/img/google.svg' %}" alt="Google Logo" class="google-icon">
                <i class="bi bi-google"></i>
                <span>Sign up with Google</span>
            </button>
        </div>


        <div class="login-link">
            <p>Already a member? <a href="{% url 'login' %}">Login Here</a></p>
        </div>
    
        
</form>
    </div>

</body>
</html>